In [1]:
import os
import re
import json

import numpy as np
import pandas as pd

# Catawba [05/22]

In [2]:
# Load catawba manual data
mandf0 = pd.read_excel("../data/manual/05_2022/validation_man.xlsx")

# Assume flat ground 
# Use the angle(θ) and distance from the base of the tree (d) to calculate tree height (h)

# Convert slope (%) to radians
mandf0['angle_rad'] = np.arctan(mandf0['angle']*0.01)

# angle in degrees
mandf0['angle_deg'] = np.rad2deg(mandf0['angle_rad'])

# compute tree height = tan(θ) * distance (d) + viewer height 
mandf0['height_ft'] = np.tan(mandf0['angle_rad']) * mandf0['distance'] + 5.375 # John height = 64.5 in == 5.375 ft

# Convert ft --> in 
mandf0['height'] = mandf0['height_ft'] * 12.

# Fill in the tree heights that were measured without clinometer (shorties)
mandf0['height'][np.isnan(mandf0['height_ft'])] = mandf0['height_in']

# add col with measurement approaches 
mandf0['method'] = 'manual_0'

# add col with site 
mandf0['site'] = 'catawba'

<ipython-input-2-11c4d5290503>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mandf0['height'][np.isnan(mandf0['height_ft'])] = mandf0['height_in']

In [3]:
# Read db dump
measurements = []
for line in open('../data/app/05_2022/bquxjob_4eb29efb_180f7d82eb2.json', 'r'):
    measurements.append(json.loads(line))

In [4]:
# extract the relevant info 
outrows = []
for idx,tree in enumerate(measurements):
    diam = measurements[idx]['diameter']['value']
    height = measurements[idx]['height']['value']
    unit = measurements[idx]['height']['unit']
    species = measurements[idx]['speciesName']
    date = measurements[idx]['captureDate']
    parcel = measurements[idx]['parcelId']
    lat = measurements[idx]['lat']
    lon = measurements[idx]['long']
    tree_id = measurements[idx]['id']
    diam_url = measurements[idx]['photos'][0]['url']
    height_url = measurements[idx]['photos'][1]['url']

    treedf = pd.DataFrame([date,lat,lon,tree_id,diam,height,species,height_url, diam_url,parcel]).T
    treedf.columns = ['date','lat','lon','tree_id','diam','height','species','height_url', 'diam_url','parcel_id']
    outrows.append(treedf)
    
# concat 
valdf = pd.concat(outrows, axis = 0)
valdf['date'] = pd.to_datetime(valdf['date'])
valdf = valdf.sort_values(by='date', ascending = True)

# Isolate field campaign dates
mask = (valdf['date'] >= "2022-05-12") & (valdf['date'] <= '2022-05-14')
appdf = valdf[mask]
appdf = appdf.sort_values(by='date', ascending = True)[1:]
pid = list(appdf['parcel_id'])[0]
appdf['parcel_id'] = pid

In [5]:
mask = (valdf['date'] >= "2022-05-12") & (valdf['date'] <= '2022-05-14')
appdf = valdf[mask]
appdf = appdf.sort_values(by='date', ascending = True)[1:]
pid = list(appdf['parcel_id'])[0]
appdf['parcel_id'] = pid

In [6]:
compdf = pd.merge(appdf, mandf0, on = 'tree_id')
compdf.rename(columns = {'diam_x':'diam_app', 'diam_y':'diam', 'height_x':'height_app', 'height_y':'height'}, inplace = True)

In [7]:
compdf.to_csv("../data/catawba_05_22.csv")

# Kentland [10/22]

In [8]:
# Load the manual dataframes
mandf1 = pd.read_excel("../data/manual/10_2022/Working Tree Kentland 2022_SP.xlsx", sheet_name = "Kentland 1")
mandf2 = pd.read_excel("../data/manual/10_2022/Working Tree Kentland 2022_SP.xlsx", sheet_name = "Kentland 2")

# ft --> inches 
mandf1['height'] = mandf1['Height (ft)'] * 12
mandf2['height'] = mandf2['Height (ft)'] * 12
mandf1['diam'] = mandf1["DBH (In)"]
mandf2['diam'] = mandf2["DBH (In)"]

# add col with measurement approaches 
mandf2['method'] = 'manual_2'
mandf1['method'] = 'manual_1'

# add col with site 
mandf2['site'] = 'kentland'
mandf1['site'] = 'kentland'

mandf1_clean = mandf1.drop(["Height (ft)", "DBH (In)"], axis = 1)
mandf2_clean = mandf2.drop(["Height (ft)", "DBH (In)"], axis = 1)

# manual_10_22 = pd.merge(mandf1_clean,mandf2_clean, on = 'SN')

# manual_10_22['height'] = manual_10_22[['height_x','height_y']].mean(axis = 1)
# manual_10_22['diam'] = manual_10_22[['diam_x','diam_y']].mean(axis = 1)

In [9]:
cols_to_keep = mandf2_clean.columns.difference([x for x in mandf1_clean.columns if x not in ["SN","diam","height"]])
manual_10_22= pd.merge(mandf1_clean, mandf2_clean[cols_to_keep], left_index=True, right_index=True, how='outer')

manual_10_22['height'] = manual_10_22[['height_x','height_y']].mean(axis = 1)
manual_10_22['diam'] = manual_10_22[['diam_x','diam_y']].mean(axis = 1)

In [10]:
manual_10_22

,SN_x,Row#,Tree#,Species,height_x,diam_x,method,site,SN_y,diam_y,height_y,height,diam
0,1,1,1,Honeylocust,422.4,11.6,manual_1,kentland,1,11.6,452.4,437.4,11.60
1,2,1,2,Honeylocust,472.8,11.8,manual_1,kentland,2,11.8,428.4,450.6,11.80
2,3,1,3,Honeylocust,502.8,10.8,manual_1,kentland,3,10.9,481.2,492.0,10.85
3,4,1,4,Honeylocust,367.2,8.8,manual_1,kentland,4,8.8,358.8,363.0,8.80
4,5,1,5,Honeylocust,435.6,10.9,manual_1,kentland,5,10.9,427.2,431.4,10.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,104,20,1,Blackwalnut,673.2,13.2,manual_1,kentland,104,13.2,576.0,624.6,13.20
104,105,20,2,Blackwalnut,584.4,14.9,manual_1,kentland,105,14.9,576.0,580.2,14.90
105,106,20,3,Blackwalnut,600.0,11.4,manual_1,kentland,106,11.3,543.6,571.8,11.35
106,107,21,1,Blackwalnut,577.2,12.5,manual_1,kentland,107,12.5,554.4,565.8,12.50
107,108,21,2,Blackwalnut,549.6,12.0,manual_1,kentland,108,12.0,511.2,530.4,12.00

In [11]:
# Load app sampling datasets and do lots of formatting
# Read db dump
measurements = []
for line in open('../data/app/10_2022/validation_10_2022.json', 'r'):
    measurements.append(json.loads(line))

# Extract trees line by line

outrows = []

for idx,tree in enumerate(measurements):
    try:
        diam = measurements[idx]['diameter']['value']
        height = measurements[idx]['height']['value']
        unit = measurements[idx]['height']['unit']
        species = measurements[idx]['speciesName']
        date = measurements[idx]['captureDate']
        parcel = measurements[idx]['parcelId']
        lat = measurements[idx]['lat']
        lon = measurements[idx]['long']
        tree_id = measurements[idx]['id']
        diam_url = measurements[idx]['photos'][0]['url']
        height_url = measurements[idx]['photos'][1]['url']
        notes = measurements[idx]['notes']

        treedf = pd.DataFrame([date,lat,lon,tree_id,diam,height,species,height_url, diam_url,parcel, notes]).T
        treedf.columns = ['date','lat','lon','tree_id','diam','height','species','height_url', 'diam_url','parcel_id','notes']
        outrows.append(treedf)
        
    except:
        continue
    
    
# concat 
valdf = pd.concat(outrows, axis = 0)
valdf['date'] = pd.to_datetime(valdf['date'])
valdf = valdf.sort_values(by='date', ascending = True)

# Filter out parcels with a single measurement - this leaves just Sanjok x2 and Brenda 
valdf = pd.concat(outrows, axis = 0)
valdf['date'] = pd.to_datetime(valdf['date'])
valdf = valdf.sort_values(by='date', ascending = True)
# Count n rows in each parcel 
valdf['parcel_id'].value_counts()
# record 
counts = valdf['parcel_id'].value_counts(dropna=False) 
valids = counts[counts>1].index
# filter 
appdf = valdf[valdf['parcel_id'].isin(valids)]
# Extract the indices for each tree

notescol = list(appdf['notes'])

rows = []
cols = []

for x in notescol:
    xstr = x.lower()
    rows.append(re.sub('[^0-9]','', xstr.split("p")[0]))
    cols.append(re.sub('[^0-9]','', xstr.split("p")[1]))

# Apply indices  
appdf['row'] = rows
appdf['tree_idx'] = cols

appdf['row'] = appdf['row'].astype(float)
appdf['tree_idx'] = appdf['tree_idx'].astype(float)
appdf['diam'] = appdf['diam'].astype(float)
appdf['height'] = appdf['height'].astype(float)
appdf['lat'] = appdf['lat'].astype(float)
appdf['lon'] = appdf['lon'].astype(float)

<ipython-input-11-987a192dbe89>:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appdf['row'] = rows
<ipython-input-11-987a192dbe89>:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appdf['tree_idx'] = cols
<ipython-input-11-987a192dbe89>:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appdf['row'] = appdf['row'].astype(float)
<ipython-input-11-987a192dbe89>:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appdf['tree_idx'] = appdf['tree_idx'].astype(float)
<ipython-input-11-987a192dbe89>:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appdf['diam'] = appdf['diam'].astype(float)
<ipython-input-11-987a192dbe89>:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appdf['height'] = appdf['height'].astype(float)
<ipython-input-11-987a192dbe89>:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appdf['lat'] = appdf['lat'].astype(float)
<ipython-input-11-987a192dbe89>:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appdf['lon'] = appdf['lon'].astype(float)

In [12]:
tdfs = []

# For each tree (unique row / col combo index), calculate: 1. mean lat/lon, 2. mean height, 3. mean diam 
for ridx in appdf['row'].unique():
    ardf = appdf[appdf['row']==ridx]
    for tidx in appdf['tree_idx'].unique():
        rtdf = ardf[ardf['tree_idx'] == tidx]
        if len(rtdf) > 0:
            tree_df = pd.DataFrame(rtdf[['diam','height','lat','lon']].mean()).T
            tree_df['row'] = ridx
            tree_df['tree_idx'] = tidx
            tdfs.append(tree_df)

In [13]:
appdf_mean = pd.concat(tdfs).reset_index()

In [14]:
kentland_df = pd.merge(appdf_mean, manual_10_22,  how='left', right_on=['Row#','Tree#'], left_on = ['row','tree_idx']).dropna()

In [15]:
kentland_df.rename(columns = {'diam_x':'diam_app', 'diam_y':'diam', 'height_x':'height_app', 'height_y':'height', 'Species':'species'}, inplace = True)

In [16]:
kentland_df['species'] = kentland_df['species'].replace("Honeylocust", "Honey Locust")
kentland_df['species'] = kentland_df['species'].replace("Blacklocust", "Black Locust")
kentland_df['species'] = kentland_df['species'].replace("Blackwalnut", "Black Walnut")

In [17]:
kentland_df.to_csv("../data/kentland_10_22.csv")

In [31]:
for sp in kentland_df['species'].unique():
    print(sp)
    spdf = kentland_df[kentland_df['species'] == sp]
    print("MANUAL")
    print(np.nanmean(spdf['diam'].values))
    print(np.nanvar(spdf['diam'].values))
    print("APP")
    print(np.nanmean(spdf['diam_app'].values))
    print(np.nanvar(spdf['diam_app'].values))

Honey Locust
MANUAL
9.38640350877193
3.0207581178824254
APP
9.112628862887407
2.8803823797173305
Black Walnut
MANUAL
12.242
4.635086
APP
11.661954267285942
4.677929906186625

In [28]:
tdfs = []

# For each tree (unique row / col combo index), calculate: 1. mean lat/lon, 2. mean height, 3. mean diam 
for ridx in appdf['row'].unique():
    ardf = appdf[appdf['row']==ridx]
    for tidx in appdf['tree_idx'].unique():
        rtdf = ardf[ardf['tree_idx'] == tidx]
        if len(rtdf) > 0:
            tree_df = pd.DataFrame(rtdf[['diam','height','lat','lon']].mean()).T
            tree_df['row'] = ridx
            tree_df['tree_idx'] = tidx
            tdfs.append(tree_df)

,date,lat,lon,tree_id,diam,height,species,height_url,diam_url,parcel_id,notes,row,tree_idx
0,2022-10-17 14:27:47.548557+00:00,37.202613,-80.565615,1064FDAC-E9C5-4A25-BFD5-4E1CFDD2E221,9.521056,291.341815,Honey locust,https://firebasestorage.googleapis.com:443/v0/...,https://firebasestorage.googleapis.com:443/v0/...,48A3274A-5E61-4644-8C5E-0E856E87AF4F,Row1: p1\n,1.0,1.0
0,2022-10-17 14:31:52.011929+00:00,37.199045,-80.575376,CC9CFFB3-5419-4853-AA88-28AE0D4E27D5,11.075330,345.681859,Honey locust,https://firebasestorage.googleapis.com:443/v0/...,https://firebasestorage.googleapis.com:443/v0/...,48A3274A-5E61-4644-8C5E-0E856E87AF4F,R2: p3,2.0,3.0
0,2022-10-17 14:41:58.159857+00:00,37.199282,-80.574954,467AFBFB-8617-400C-96FD-DF3D40890745,6.740993,274.035931,Honey locust,https://firebasestorage.googleapis.com:443/v0/...,https://firebasestorage.googleapis.com:443/v0/...,48A3274A-5E61-4644-8C5E-0E856E87AF4F,R2;p3,2.0,3.0
0,2022-10-17 14:45:46.678611+00:00,37.198597,-80.576279,CA5544F7-AB55-4B25-8DE4-0EAAC5F755B2,6.480245,167.830460,Honey locust,https://firebasestorage.googleapis.com:443/v0/...,https://firebasestorage.googleapis.com:443/v0/...,48A3274A-5E61-4644-8C5E-0E856E87AF4F,R2; p4,2.0,4.0
0,2022-10-17 14:46:20.033164+00:00,37.199527,-80.575089,B9D625F1-6928-42E6-9407-62F782443D21,8.593760,240.385363,Honey locust,https://firebasestorage.googleapis.com:443/v0/...,https://firebasestorage.googleapis.com:443/v0/...,5F2EA33C-65AD-4826-BF5C-D585E410C877,R2P5,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,2022-10-26 21:06:41.213289+00:00,37.201091,-80.577172,9FC6A981-ACBA-44CC-A2DE-14883C0EEBC6,10.941017,366.060790,Black Walnut,https://firebasestorage.googleapis.com:443/v0/...,https://firebasestorage.googleapis.com:443/v0/...,A57E7C65-8B5C-43B2-9110-5A6A4ECFBC35,R20P3,20.0,3.0
0,2022-10-26 21:08:59.254745+00:00,37.201035,-80.577332,FB6181CA-DDF1-4260-9B53-016E7B83E440,15.147903,397.604131,Black Walnut,https://firebasestorage.googleapis.com:443/v0/...,https://firebasestorage.googleapis.com:443/v0/...,A57E7C65-8B5C-43B2-9110-5A6A4ECFBC35,R20P2,20.0,2.0
0,2022-10-26 21:09:51.404510+00:00,37.200959,-80.577389,882C5AEC-48C7-49D5-8661-30C87049A003,12.325727,400.939025,Black Walnut,https://firebasestorage.googleapis.com:443/v0/...,https://firebasestorage.googleapis.com:443/v0/...,A57E7C65-8B5C-43B2-9110-5A6A4ECFBC35,R20P1,20.0,1.0
0,2022-10-26 21:11:01.364866+00:00,37.200983,-80.577477,B696160B-CD99-42DE-AD7B-67741E7C64C9,10.375725,405.407402,Black Walnut,https://firebasestorage.googleapis.com:443/v0/...,https://firebasestorage.googleapis.com:443/v0/...,A57E7C65-8B5C-43B2-9110-5A6A4ECFBC35,R21P1,21.0,1.0
0,2022-10-26 21:12:14.535465+00:00,37.201161,-80.577345,6CEABA83-CD31-4864-BA2D-2EE2403DFDFE,10.100987,375.373082,Black Walnut,https://firebasestorage.googleapis.com:443/v0/...,https://firebasestorage.googleapis.com:443/v0/...,A57E7C65-8B5C-43B2-9110-5A6A4ECFBC35,R21P2,21.0,2.0

In [ ]:
# Read datasets from the validations 

val1 = pd.read_csv("../results/catawba_05_22/results.csv")
val2 = pd.read_csv("../results/kentland_10_22/results.csv")

val2.rename({"species_app":"species"}, inplace = True)
val2.rename({"Species":"species_app"}, inplace = True)

In [ ]:
val2.columns

In [ ]:
# Combine the app data

diam_app_all = pd.concat([val1[['diam_app','species']],val2[['diam_app','species']]])
height_app_all = pd.concat([val1[['height_app','species']],val2[['height_app','species']]])

# Combine the manual data 

diam_man_all = pd.concat([val1[['diam','species']],val2[['diam','species']]])
height_man_all = pd.concat([val1[['height_in','species']],val2[['height_in','species']]])

In [ ]:
# Combine manual + app for diameter + height 

diam_all = pd.concat([diam_app_all,diam_man_all], axis = 1).iloc[:, :-1]
height_all = pd.concat([height_app_all,height_man_all], axis = 1).iloc[:, :-1]

In [ ]:
# Diam linear regression grouped by species 

groups = diam_all.groupby('species')

# Plot
fig, ax = plt.subplots(figsize = (8,6))

for name, group in groups:
    ax.plot(group['diam'], group['diam_app'], marker='o', linestyle='', ms=7, label=name, alpha = 0.5)
    
# Plot 1-1 line
ax.plot([0,300],[0,300],'k-', lw=2, label = '1-1 line')

# Compute regression 
slope, intercept, r_value, p_value, std_err = stats.linregress(diam_all['diam'], diam_all['diam_app'])

# Mean absolute error
mae = np.nanmean(abs(diam_all['diam'] - diam_all['diam_app']))
mae_std = np.nanstd(abs(diam_all['diam'] - diam_all['diam_app']))
mape = np.nanmean(np.abs((diam_all['diam'] - diam_all['diam_app']) / diam_all['diam'])) * 100
mape_std = np.nanstd(np.abs((diam_all['diam'] - diam_all['diam_app']) / diam_all['diam'])) * 100
rmse = ((diam_all['diam'] - diam_all['diam_app']) ** 2).mean() ** .5

# regression line 
line = slope*np.linspace(0,300)+ intercept
plt.plot(np.linspace(0,300), line, 'r', label='y={:.2f}x+{:.2f}'.format(slope,intercept))
plt.annotate("$R^2$ = {}".format(str(r_value**2)[:5]), [14,3.5])
plt.annotate("$p$ = {:.2e}".format(p_value), [14,2.75])
plt.annotate("MAE = {} +/- {} in".format(str(round(mae,5))[:5],str(round(mae_std,2))), [14,2])
plt.annotate("MAPE = {} +/- {} %".format(str(round(mape,5))[:5],str(round(mape_std,2))), [14,1.25])
plt.annotate("RMSE = {} in".format(str(round(rmse,5))[:5],), [14,0.5])

ax.legend()
ax.set_xlim(0,20)
ax.set_ylim(0,20)
    
plt.xlabel("manual diameter (in)", size = 16)
plt.ylabel("app-based diameter (in)", size = 16)


titlestr = "Diameter (in), N = {}".format(str(len(diam_all)))
plt.title(titlestr, size = 20)
plt.show()

In [ ]:
# Fit a 3rd order polynomial to the height data instead of the linear regression 

x = height_all['height_in']
y = height_all['height_app']

def func(x, a, b, c):
    return a*x**2+ b*x* + c

# plt.plot(x, y, 'bo', label='Raw Data')

popt, pcov = curve_fit(func, x, y)
a, b, c = popt

In [ ]:
groups = height_all.groupby('species')

# Plot
fig, ax = plt.subplots(figsize = (8,6))

for name, group in groups:
    ax.plot(group['height_in'], group['height_app'], marker='o', linestyle='', ms=7, label=name, alpha = 0.5)
    
# Plot 1-1 line
ax.plot([0,3000],[0,3000],'k-', lw=2, label = '1-1 line')

# Compute regression 
slope, intercept, r_value, p_value, std_err = stats.linregress(height_all['height_in'], height_all['height_app'])

# Mean absolute error
mae = np.nanmean(abs(height_all['height_in'] - height_all['height_app']))
mae_std = np.nanstd(abs(height_all['height_in'] - height_all['height_app']))
mape = np.nanmean(np.abs((height_all['height_in'] - height_all['height_app']) / height_all['height_in'])) * 100
mape_std = np.nanstd(np.abs((height_all['height_in'] - height_all['height_app']) / height_all['height_in'])) * 100
rmse = ((height_all['height_in'] - height_all['height_app']) ** 2).mean() ** .5

# get equation string 
eq_str = "$y = {}x^2 + {}x + {}$".format( *[str(round(x,3)) for x in popt] )

# Linear regression
line = slope*np.linspace(0,900)+ intercept
plt.plot(np.linspace(0,900), line, 'r', label='y={:.2f}x+{:.2f}'.format(slope,intercept))

# 3rd order polynomial fit 
plt.plot(sorted(x), sorted(func(x, *popt)), color = 'blue', linewidth = 2, label=eq_str)

# annotations 
plt.annotate("$R^2$ = {}".format(str(r_value**2)[:5]), [15,500])
plt.annotate("$p$ = {}".format(str(round(p_value,5))[:5]), [15,470])
plt.annotate("MAE = {} +/- {} in".format(str(round(mae,5))[:5],str(round(mae_std,2))), [15,440])
plt.annotate("MAPE = {} +/- {} %".format(str(round(mape,5))[:5],str(round(mape_std,2))), [15,410])
plt.annotate("RMSE = {} in".format(str(round(rmse,5))[:5],), [15,380])

# plt.annotate(, [400,10], color = 'blue', size = 12)

ax.legend(loc = "upper left")
ax.set_xlim(0,850)
ax.set_ylim(0,850)
    
plt.xlabel("manual height (in)", size = 16)
plt.ylabel("app-based height (in)", size = 16)

titlestr = "Height (in), N = {}".format(str(len(height_all)))
plt.title(titlestr, size = 20)
plt.show()

In [ ]:
# # Group by USER instead of species

# Combine the app data

diam_app_usr = pd.concat([val1[['diam_app','parcel_id']],val2[['diam_app','parcel_id']]])
height_app_usr = pd.concat([val1[['height_app','parcel_id']],val2[['height_app','parcel_id']]])

# Combine the manual data 

diam_man_usr = pd.concat([val1[['diam','parcel_id']],val2[['diam','parcel_id']]])
height_man_usr = pd.concat([val1[['height_in','parcel_id']],val2[['height_in','parcel_id']]])

# Combine manual + app for diameter + height 

diam_usr = pd.concat([diam_app_usr,diam_man_usr], axis = 1).iloc[:, :-1]
height_usr = pd.concat([height_app_usr,height_man_usr], axis = 1).iloc[:, :-1]

diam_usr['parcel_id'].replace({'BDB47999-95D1-4967-BDC4-6A4D43138D5F' : "User1",
       '48A3274A-5E61-4644-8C5E-0E856E87AF4F' : "User2",
       '5F2EA33C-65AD-4826-BF5C-D585E410C877' : "User3",
       'A57E7C65-8B5C-43B2-9110-5A6A4ECFBC35' : "User4"}, inplace = True)

height_usr['parcel_id'].replace({'BDB47999-95D1-4967-BDC4-6A4D43138D5F' : "User1",
       '48A3274A-5E61-4644-8C5E-0E856E87AF4F' : "User2",
       '5F2EA33C-65AD-4826-BF5C-D585E410C877' : "User3",
       'A57E7C65-8B5C-43B2-9110-5A6A4ECFBC35' : "User4"}, inplace = True)

In [ ]:
# Diam linear regression grouped by USER  

groups = diam_usr.groupby('parcel_id')

# Plot
fig, ax = plt.subplots(figsize = (8,6))

for name, group in groups:
    ax.plot(group['diam'], group['diam_app'], marker='o', linestyle='', ms=7, label=name, alpha = 0.5)
    
# Plot 1-1 line
ax.plot([0,300],[0,300],'k-', lw=2, label = '1-1 line')

# Compute regression 
slope, intercept, r_value, p_value, std_err = stats.linregress(diam_usr['diam'], diam_usr['diam_app'])

# Mean absolute error
mae = np.nanmean(abs(diam_usr['diam'] - diam_usr['diam_app']))
mae_std = np.nanstd(abs(diam_usr['diam'] - diam_usr['diam_app']))
mape = np.nanmean(np.abs((diam_usr['diam'] - diam_usr['diam_app']) / diam_usr['diam'])) * 100
mape_std = np.nanstd(np.abs((diam_usr['diam'] - diam_usr['diam_app']) / diam_usr['diam'])) * 100
rmse = ((diam_usr['diam'] - diam_usr['diam_app']) ** 2).mean() ** .5

# regression line 
line = slope*np.linspace(0,300)+ intercept
plt.plot(np.linspace(0,300), line, 'r', label='y={:.2f}x+{:.2f}'.format(slope,intercept))
plt.annotate("$R^2$ = {}".format(str(r_value**2)[:5]), [14,3.5])
plt.annotate("$p$ = {}".format(str(round(p_value,5))[:5]), [14,2.75])
plt.annotate("MAE = {} +/- {} in".format(str(round(mae,5))[:5],str(round(mae_std,2))), [14,2])
plt.annotate("MAPE = {} +/- {} %".format(str(round(mape,5))[:5],str(round(mape_std,2))), [14,1.25])
plt.annotate("RMSE = {} in".format(str(round(rmse,5))[:5],), [14,0.5])

ax.legend(loc = 'upper left')
ax.set_xlim(0,20)
ax.set_ylim(0,20)
    
plt.xlabel("manual diameter (in)", size = 16)
plt.ylabel("app-based diameter (in)", size = 16)


titlestr = "Diameter (in), N = {}".format(str(len(diam_usr)))
plt.title(titlestr, size = 20)
plt.show()

In [ ]:
groups = height_usr.groupby('parcel_id')

# Plot
fig, ax = plt.subplots(figsize = (8,6))

for name, group in groups:
    ax.plot(group['height_in'], group['height_app'], marker='o', linestyle='', ms=7, label=name, alpha = 0.5)
    
# Plot 1-1 line
ax.plot([0,3000],[0,3000],'k-', lw=2, label = '1-1 line')

# Compute regression 
slope, intercept, r_value, p_value, std_err = stats.linregress(height_all['height_in'], height_all['height_app'])

# Mean absolute error
mae = np.nanmean(abs(height_usr['height_in'] - height_usr['height_app']))
mae_std = np.nanstd(abs(height_usr['height_in'] - height_usr['height_app']))
mape = np.nanmean(np.abs((height_usr['height_in'] - height_usr['height_app']) / height_all['height_in'])) * 100
mape_std = np.nanstd(np.abs((height_usr['height_in'] - height_usr['height_app']) / height_all['height_in'])) * 100
rmse = ((height_all['height_in'] - height_all['height_app']) ** 2).mean() ** .5

# get equation string 
eq_str = "$y = {}x^2 + {}x + {}$".format( *[str(round(x,3)) for x in popt] )

# 3rd order polynomial fit 
plt.plot(sorted(x), sorted(func(x, *popt)), color = 'blue', linewidth = 2, label=eq_str)

# annotations 
plt.annotate("$R^2$ = {}".format(str(r_value**2)[:5]), [15,500])
plt.annotate("$p$ = {}".format(str(round(p_value,5))[:5]), [15,470])
plt.annotate("MAE = {} +/- {} in".format(str(round(mae,5))[:5],str(round(mae_std,2))), [14,440])
plt.annotate("MAPE = {} +/- {} %".format(str(round(mape,5))[:5],str(round(mape_std,2))), [14,410])
plt.annotate("RMSE = {} in".format(str(round(rmse,5))[:5],), [15,380])

ax.legend(loc = "upper left")
ax.set_xlim(0,850)
ax.set_ylim(0,850)
    
plt.xlabel("manual height (in)", size = 16)
plt.ylabel("app-based height (in)", size = 16)

titlestr = "Height (in), N = {}".format(str(len(height_usr)))
plt.title(titlestr, size = 20)
plt.show()

In [ ]:
# min / max scaling for height 

# Standardization
def mean_std(arr):
    return (arr - arr.mean()) / arr.std()

def min_max(arr):
    return (arr - arr.min()) / (arr.max() - arr.min())

# Setup vars
height_all['height_in_scaled'] = min_max(height_all['height_in'])
height_all['height_app_scaled'] = min_max(height_all['height_app'])

groups = height_all.groupby('species')
x = height_all['height_in']
y = height_all['height_app']
x_s, y_s = min_max(x), min_max(y)

plt.figure(figsize = (8,6))
for name, group in groups:
    plt.plot(group['height_in_scaled'], group['height_app_scaled'], marker='o', linestyle='', ms=7, label=name, alpha = 0.5)
    
# Compute regression 
slope, intercept, r_value, p_value, std_err = stats.linregress(x_s, y_s)

# stats
mae = np.nanmean(abs(x_s - y_s))
mae_std = np.nanstd(abs(x_s - y_s))
mape = np.nanmean(abs(x_s - y_s) /y_s) * 100
mape_std = np.nanstd(abs(x_s - y_s) /y_s) * 100
rmse = ((x_s-y_s) ** 2).mean() ** .5

# Linear regression
line = slope*np.linspace(0,900)+ intercept
plt.plot(np.linspace(0,900), line, 'r', label='y={:.2f}x+{:.2f}'.format(slope,intercept))
plt.plot([-300,300],[-300,300],'k-', lw=2, label = '1-1 line')
plt.xlim([np.nanmin(x_s), np.nanmax(x_s)])
plt.ylim([np.nanmin(y_s), np.nanmax(y_s)])
# plt.scatter(x_s, y_s)
plt.xlabel("min/max scaled manual height", size = 12)
plt.ylabel("min/max scaled app-based height", size = 12)
plt.title("Height (min - max scaling applied)", size = 20)

plt.annotate("MAPE = {} +/- {} %".format(str(round(mape,5))[:5],str(round(mape_std,2))), [0.5,0.01])
# plt.annotate("RMSE = {} in".format(str(round(rmse,5))[:5]), [0.4,0.15])
plt.annotate("$R^2 = {}$".format(str(round(r_value**2,5))[:5]), [0.5,0.05])

plt.legend()
plt.show()

In [ ]:
# Mean / STD scaling

# Setup vars
height_all['height_in_scaled'] = mean_std(height_all['height_in'])
height_all['height_app_scaled'] = mean_std(height_all['height_app'])

groups = height_all.groupby('species')
x = height_all['height_in']
y = height_all['height_app']
x_s, y_s = mean_std(x), mean_std(y)

plt.figure(figsize = (8,6))
for name, group in groups:
    plt.plot(group['height_in_scaled'], group['height_app_scaled'], marker='o', linestyle='', ms=7, label=name, alpha = 0.5)
    
# Compute regression 
slope, intercept, r_value, p_value, std_err = stats.linregress(x_s, y_s)

# stats
mae = np.nanmean(abs(x_s - y_s))
mae_std = np.nanstd(abs(x_s - y_s))
mape = np.nanmean(abs(x_s - y_s) /y_s) * 100
mape_std = np.nanstd(abs(x_s - y_s) /y_s) * 100
rmse = ((x_s-y_s) ** 2).mean() ** .5

# Linear regression
line = slope*np.linspace(-900,900)+ intercept
plt.plot(np.linspace(-900,900), line, 'r', label='y={:.2f}x+{:.2f}'.format(slope,intercept))
plt.plot([-300,300],[-300,300],'k-', lw=2, label = '1-1 line')
plt.xlim([np.nanmin(x_s), np.nanmax(x_s)])
plt.ylim([np.nanmin(y_s), np.nanmax(y_s)])
# plt.scatter(x_s, y_s)
plt.xlabel("min/max scaled manual height", size = 12)
plt.ylabel("min/max scaled app-based height", size = 12)
plt.title("Height (mean - std scaling applied)", size = 20)

plt.annotate("MAPE = {} +/- {} %".format(str(round(mape,5))[:5],str(round(mape_std,2))), [0.5,-2])
# plt.annotate("RMSE = {} in".format(str(round(rmse,5))[:5]), [0.4,0.15])
plt.annotate("$R^2 = {}$".format(str(round(r_value**2,5))[:5]), [0.5,-1.75])

plt.legend()
plt.show()

In [ ]:
t_val =  1.96

# Compute upper and lower confidence intervals 
CI_upper = diam_all['diam'].mean() + t_val * diam_all['diam'].std() / np.sqrt(len(diam_all))
CI_lower = diam_all['diam'].mean() - t_val * diam_all['diam'].std() / np.sqrt(len(diam_all))

# Margin of error 
E = (CI_upper - CI_lower) / 2

print(E)

# Bland - Altman Plot

In [ ]:
f, ax = plt.subplots(1, figsize = (8,5))
sm.graphics.mean_diff_plot(diam_all['diam_app'], diam_all['diam'],  ax = ax)
plt.title("Bland-Altman Plot for Tree Diameter (in)", size = 25)
plt.show()

# 8
print("{} % of the data falls within 95% Diameter CI".format(str(round((100 - ((8/len(diam_all)) * 100)),3))))

f, ax = plt.subplots(1, figsize = (8,5))
sm.graphics.mean_diff_plot(height_all['height_app'], height_all['height_in'], ax = ax)
plt.title("Bland-Altman Plot for Tree Height (in)", size = 25)
plt.show()

print("{} % of the data falls within 95% Height CI".format(str(round((100 - ((12/len(height_all)) * 100)),3))))

# Concordance Correlation Coefficient:

# $ \rho_c = \frac{2 \rho \sigma_x \sigma_y}{\sigma_{x}^{2} + \sigma_{y}^{2} + (\mu_{x} - \mu_{y})^2}$

In [ ]:
def concordance_corr_coeff(x,y,correlation):
    numerator = 2 * correlation * np.nanstd(x) * np.nanstd(y)
    denom = np.nanstd(x)**2 + np.nanstd(y)**2  + (np.nanmean(x) - np.nanmean(y)) ** 2
    return numerator/denom

In [ ]:
# concordance correlation coefficient for diameter
slope, intercept, r_value, p_value, std_err = stats.linregress(diam_all['diam'], diam_all['diam_app'])
cc = concordance_corr_coeff(diam_all['diam_app'], diam_all['diam'], correlation = r_value)
print("Diameter concordance correlation = {}".format(cc))

# concordance correlation coefficient for height
slope, intercept, r_value, p_value, std_err = stats.linregress(height_all['height_in'], height_all['height_app'])
cc = concordance_corr_coeff(height_all['height_in'], height_all['height_in'], correlation = r_value)

print("Height concordance correlation = {}".format(cc))

# Intra Class Correlation 

$ r = \frac{1}{Ns^2} \sum_{i=1}^{n} (x_{n,1} - \bar{x}) (x_{n,2} - \bar{x})$ 

where 

$ \bar{x} = \frac{1}{2N} \sum_{i=1}^{n} (x_{n,1} + x_{n,2}) $ 

$ s^2 = \frac{1}{2N} [ \sum_{i=1}^{n} (x_{n,1} - \bar{x})^2 +  \sum_{i=1}^{n} (x_{n,2} - \bar{x})^2 ] $

In [ ]:
def intra_class_corr(x,y):
    N = len(x)
    x_bar = (1 / (2 * N)) * np.nansum(x+y)
    s_sq = (1 / (2 * N)) * ( np.nansum((x - x_bar)**2) + np.nansum((y - x_bar)**2) ) 
    ICC = (1 / (N * s_sq)) * np.nansum( (x-x_bar ) * (y - x_bar) )
    
    return ICC

icc_ht = intra_class_corr(height_all['height_in'],height_all['height_app'])
icc_diam = intra_class_corr(diam_all['diam'],diam_all['diam_app'])

print("Diameter Intra Class correlation = {}".format(icc_diam))
print("Height Intra Class correlation = {}".format(icc_ht))

# Histograms

In [ ]:
f, axes = plt.subplots(1, 2, figsize = (11,3))

ax0,ax1 = axes

sns.histplot(diam_all, x="diam", hue="species", bins = 25,multiple="stack", stat = 'density', ax = ax0)
ax0.set_title("Manual Tree Diameters (in)")
ax0.set_xlabel("Diameter (in)", size = 15)
ax0.set_ylim([0,0.3])
ax0.set_xlim([0,18])

sns.histplot(diam_all, x="diam_app", hue="species", bins = 25,multiple="stack", stat = 'density',ax = axes[1], legend = False)
ax1.set_title("Phone App Tree Diameters (in)")
ax1.set_xlabel("Diameter (in)", size = 15)
ax1.set_ylim([0,0.3])
ax1.set_xlim([0,18])
ax1.set_ylabel("")
ax1.set_yticks([])
plt.show()

In [ ]:
f, axes = plt.subplots(1, 2, figsize = (11,3))

ax0,ax1 = axes

sns.histplot(height_all, x="height_in", hue="species", bins = 25,multiple="stack", stat = 'density', ax = ax0, legend = False)
ax0.set_title("Manual Tree Heights (in)")
ax0.set_xlabel("Height (in)", size = 15)
ax0.set_xlim([0,800])
# plt.show()

sns.histplot(height_all, x="height_app", hue="species", bins = 25,multiple="stack", stat = 'density',ax = axes[1])
ax1.set_title("Phone App Tree Heights (in)")
ax1.set_xlabel("Height (in)", size = 15)
ax1.set_xlim([0,800])
ax1.set_ylabel("")
ax1.set_yticks([])
plt.show()

# Statistical Tests 

## Two sided T test 
Null hypothesis: The means are equal <br> 
Alternative hypothesis: The means are NOT equal

In [ ]:
# Paired Sample t test  

print(stats.ttest_rel(diam_all['diam'],diam_all['diam_app']))
print(stats.ttest_rel(height_all['height_in'],height_all['height_app']))

In [ ]:
# The not very small T statistics indicate that the distributions are not very similar 
# The very small p values indicate that we reject the null hypothesis that the means are equal.

In [ ]:
# Independnt sample T test

In [ ]:
print(stats.ttest_ind(diam_all['diam'],diam_all['diam_app']))
print(stats.ttest_ind(height_all['height_in'],height_all['height_app']))

# The small T statistic for diameter indicate that the distributions are very similar 
# The very small p values indicate that we reject the null hypothesis that the means are equal.

In [ ]:
# Wilcox Signed Rank Test

print("SIGNED RANK TEST DIAM")
print(stats.wilcoxon(diam_all['diam'], diam_all['diam_app']))

print("SIGNED RANK TEST HEIGHT")
print(stats.wilcoxon(height_all['height_in'], height_all['height_app']))

# Statistical analysis for each species


### Two sided T test
Null hypothesis: The means are equal <br>
Alternative hypothesis: The means are NOT equal

### Wilcoxon Signed Rank Test
Null hypothesis: Two related paired samples come from the same distribution. <br>
Alternative hypothesis: Samples come from different distributions.

### Z Test
Null hypothesis: Population means are equal <br>
Alternative hypothesis: Population means not equal

### Chi Squared Test
Null hypothesis: There are no differences between the classes in the population 
Alternative hypothesis: There are differences between the classes in the population

In [ ]:
groups = diam_all.groupby('species')

results_dfs = []

for name, group in groups:
    print("---" * 20)
    print(name + " (N = {})".format(len(group)))
    print("---" * 20)
    
    slope, intercept, r_value, p_value, std_err = stats.linregress(group['diam'], group['diam_app'])

    tval,pval_t = stats.ttest_rel(group['diam'], group['diam_app'])
    wval,pval_w = stats.wilcoxon(group['diam'], group['diam_app'])
    zval,pval_z = weightstats.ztest(group['diam'], group['diam_app'])
    
    zval,pval_z = weightstats.ztest(group['diam'], group['diam_app'])
    chisq, pval_chisq = stats.chisquare(group['diam'], group['diam_app'])
    
    mae = np.nanmean(abs(group['diam']-group['diam_app']))
    mape = np.nanmean(np.abs((group['diam'] - group['diam_app']) / group['diam'])) * 100
    ccc = concordance_corr_coeff(group['diam'], group['diam_app'], r_value)
    ICC = intra_class_corr(group['diam'], group['diam_app'])
    
    tval,pval_t,wval,pval_w,zval, pval_z,chisq, pval_chisq,mae,mape,ccc,r_sq = [round(x,5) for x in [tval,pval_t,wval,pval_w,zval, pval_z,chisq, pval_chisq,mae,mape,ccc,r_value**2]]
    outdf = pd.DataFrame([tval,pval_t,wval,pval_w,zval, pval_z,chisq, pval_chisq,mae,mape,ccc,ICC,r_sq]).T
    outdf.columns = ['T','T_p','W','W_p','Z','Z_p','chisq','chisq_p','MAE','MAPE','CCC','ICC','RSQ'] 
    outdf.index = [name + " (N = {})".format(len(group))]
    results_dfs.append(outdf)

In [ ]:
pd.concat(results_dfs, axis = 0)

In [ ]:
groups = height_all.groupby('species')

results_dfs = []

for name, group in groups:
    print("---" * 20)
    print(name + " (N = {})".format(len(group)))
    print("---" * 20)
    
    slope, intercept, r_value, p_value, std_err = stats.linregress(group['height_in'], group['height_app'])

    tval,pval_t = stats.ttest_rel(group['height_in'], group['height_app'])
    wval,pval_w = stats.wilcoxon(group['height_in'], group['height_app'])
    zval,pval_z = weightstats.ztest(group['height_in'], group['height_app'])
    
    zval,pval_z = weightstats.ztest(group['height_in'], group['height_app'])
    chisq, pval_chisq = stats.chisquare(group['height_in'], group['height_app'])
    
    mae = np.nanmean(abs(group['height_in']-group['height_app']))
    mape = np.nanmean(np.abs((group['height_in'] - group['height_app']) / group['height_in'])) * 100
    ccc = concordance_corr_coeff(group['height_in'], group['height_app'], r_value)
    ICC = intra_class_corr(group['height_in'], group['height_app'])
    
    tval,pval_t,wval,pval_w,zval, pval_z,chisq, pval_chisq,mae,mape,ccc,r_sq = [round(x,5) for x in [tval,pval_t,wval,pval_w,zval, pval_z,chisq, pval_chisq,mae,mape,ccc,r_value**2]]
    outdf = pd.DataFrame([tval,pval_t,wval,pval_w,zval, pval_z,chisq, pval_chisq,mae,mape,ccc,ICC,r_sq]).T
    outdf.columns = ['T','T_p','W','W_p','Z','Z_p','chisq','chisq_p','MAE','MAPE','CCC','ICC','RSQ'] 
    outdf.index = [name + " (N = {})".format(len(group))]
    results_dfs.append(outdf)

In [ ]:
pd.concat(results_dfs, axis = 0)